* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img.rounded {
  max-height: 140px;
  max-width: 140px;
  border-radius: 50%;
  flex-direction: row-reverse;
}
